<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
{% extends 'navigationbar.html' %}

{% block content %}
<div class="container mt-2">
    <h2 style="text-align: center;">Project Showcase</h2>
    <hr>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="/static/project1.png">
            <div class="card-body">
                <h5 class="card-title">Project 1: Personal Website</h5>
                <p class="card-text">This website that you are currently using is one of my first projects. This website
                    was built using Flask, HTML, CSS and Bootstrap.</p>
                <a href="https://github.com/Rlacc/personal-website/" target="_blank">Github Page
                    <i class="fas fa-code"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="/static/project2.png">
            <div class="card-body">
                <h5 class="card-title">Project 2: Web-scrapping Project</h5>
                <p class="card-text">This project was a webscraping project build with python and playwright. Using
                playwright, I build an app that automatically scrapped the box scores of minor league baseball games
                every day and presented the stats for each respective player. </p>
                <a href="https://github.com/Rlacc/Nats_Farm_Project" target="_blank">Github Page
                    <i class="fas fa-code"></i>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>