<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
{% extends 'navigationbar.html' %}

{% block content %}
<h2>Project Showcase</h2>
<hr>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="/static/project1.png">
            <div class="card-body">
                <h5 class="card-title">project1</h5>
                <p class="card-text">this is a project</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="/static/project1.png">
            <div class="card-body">
                <h5 class="card-title">project2</h5>
                <p class="card-text">this is a project</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>